# FUNDAMENTAL OF PYTHON

# ACCESING A SINGLE STRING

1. strings are sequence of chararcter
2. sequence index items counting from '0' for the first time :- means table form rahega aur 0 se counting start hogi EG. sam so                                                                  its table form is 0,1,2 if i want a single variable i hv                                                                         menstioned number [2] if i want 'm'

In [4]:
student_name = "adil"
#first character is at index 0 
student_name [2]

'i'

In [9]:
student_name = "Adil"
print(student_name[0])
print(student_name[1])
print(student_name[2])
print(student_name[3])

A
d
i
l

In [16]:
college_name = "Rizvi college of engeenering"
if college_name [3].lower() == 'i':
    print("lovely , college")
elif college_name [0].upper() == 'R':
    print("ya it is Rizvi college in bandra")
else:
    print("dont know")

ya it is Rizvi college in bandra

# USING NEGATIVE INDEX

In [ ]:
string assign an index number address to each string character

1. first character in a string is index 0
2. first character in a string is index -1

In [17]:
student_name = "Adil shaikh"
print(student_name[-1])

h

In [18]:
student_name = "Adil shaikh"
print(student_name[-8])

l

# ACCESS SUB-STRINGS

In [ ]:
Index string [start : stop]

string slicing return a string selection by addresssing the start & stop index

In [20]:
college_name = "Rizvi college of engeenering"
#addressing the character
college_name[0:13]

'Rizvi college'

In [28]:
college_name = "Rizvi college of engeenering"
#addressing the character
college_name[2:3]

'z'

# ACCESS BEGINNING OF SUB-STRING

In [ ]:
Index slicing [:stop]

1. string slicing return a string a selection from index '0' by using only the 'stop' index

2. Default start for a slice is index 0

In [31]:
student_name = "Adil shaikh"
print(student_name[:11])

Adil shaikh

# ACCESS ENDING OF SUB-STRING

In [ ]:
Index slicing [start:]

1. string slicing return a string a selection including by addressing by using only the 'start' index

2. Defaultend index return up to & including the last string character

In [32]:
college_name = "Rizvi college of engeenering"
print(college_name[0:])

Rizvi college of engeenering

# ACCESS SUB-STRING BY STEP SIZE

In [ ]:
[:]   return the entire string

[::2] return the first character and then steps to every other char in the string

[1::3] return the second character & then steps to every third character in the string

In [1]:
student_name = "Adil shaikh"
print(student_name[:])

Adil shaikh

In [3]:
student_name = "Adil shaikh"
print(student_name[1::2])

dlsak

In [4]:
student_name = "Adil shaikh"
print(student_name[::3])

Alhk

In [6]:
word = "Understand"      }      means that 1 se chlu hoga 10 character tak jaega [1:10]
print(word [1:10:2]      }phir last wala hai 2 wo define ye karega k 1 se 10 tak word mai 2 gap krke jo aplha baj gai they will print tht

nesad

In [ ]:
ACCESSING SUB-STRING STEPPIN BACKWARD

use[::-1] to reverse the condition

In [7]:
student_name = "Adil shaikh"
print(student_name[::-1])

hkiahs lidA

In [9]:
student_name = "Adil shaikh"
print(student_name[8::-1])

iahs lidA

# ITERATE A STRING : one character at a time

In [ ]:
for in statement :- python provies powerfull sequence iteration features. below, for letter in word:
                    loop through each letter in word

In [11]:
student_name = "Adil shaikh"
for character in student_name:
    print(student_name)

Adil shaikh
Adil shaikh
Adil shaikh
Adil shaikh
Adil shaikh
Adil shaikh
Adil shaikh
Adil shaikh
Adil shaikh
Adil shaikh
Adil shaikh

In [14]:
student_name = "Adil shaikh"
for character in student_name:
    print(character)

A
d
i
l

s
h
a
i
k
h

In [27]:
name = "adil" 
new_name = ""
    
for character in name:
    if name.lower() == "i":
        new_name += name.lower() 
else:
    print("consider same name")

consider same name

# STRING METHOD : LENGTH()

len() , retur a string length

In [29]:
student_name = "Adil shaikh"
print(len(student_name))

11

In [30]:
person_saying = "Honesty is the best policy"
listener = int(len(person_saying)/2)

# print first half of sentence
print(person_saying[:listener])

# print second half of sentence
print(person_saying[listener:])

Honesty is th
e best policy

# string method :- count()

return number of times a character or sub-string occur

In [32]:
mathematician = "The greatest mathematician of India is RAMANUJAN"
print("The greatest mathematician of India is RAMANUJAN")
print(mathematician.count("r"))

The greatest mathematician of India is RAMANUJAN
1

In [33]:
print(mathematician)
print("how many m's ?" , mathematician.count("m"))
print("how many a's ?" , mathematician.count("a"))

The greatest mathematician of India is RAMANUJAN
how many m's ? 2
how many a's ? 5

# string method :- find()

return index of first letter or sub-string match

In [38]:
read_book = "reading is good habit"
print("find the index of the first space")
print(read_book.find(""))

find the index of the first space
0

In [40]:
read_book = "reading is good habit"
print("find the index of the first a")
print(read_book.find("a"))

find the index of the first a
2

In [42]:
read_book = "reading is good habit"
print(read_book)

print("read_book:" , read_book)
location = read_book.find("i")

# keeps looping until location = -1 (no "i" found)
while location >= 0:
    print("1 at index =", location)
    # find("i", location + 1) looks for a "i" after index the first "i" was found
    location = read_book.find("i", location + 1)
print("no more i's")

reading is good habit
read_book: reading is good habit
1 at index = 4
1 at index = 8
1 at index = 19
no more i's

# CREATING LIST

# LIST CONNTAN COMMA (,) SEPARATED OBJECT encolsed in square bracket []

In [1]:
book_number = 723 , 456 , 786
print("book number:" , type(book_number))
print(book_number)

book number: <class 'tuple'>
(723, 456, 786)

In [3]:
mixed_list = 24 , 7 , 31 , "Aries" , "Arisa"

#display type information
print("mixed list:" , type(mixed_list))

#print the list
print(mixed_list)

mixed list: <class 'tuple'>
(24, 7, 31, 'Aries', 'Arisa')

# Accessing list by using index

In [ ]:
list contain comma separated objects enclosed in square brackets []
lists give an index number to each list item
first element in a list i index 0

In [5]:
car_number = [1531 , 2442 , 0o01, 0o02 , 1050]
car_number [4]

1050

In [6]:
test_mark = [80,70,50,35,90,45,85]

sum_total = test_mark[1] + test_mark[4] + test_mark[6]
print("test_marks_total:",sum_total)

test_marks_total: 245

In [ ]:
#INSERT A NEW VALUE FOR  AN INDEX

# overwriting a specific index in a list

In [8]:
student_name = ["Adil , Haroon , Amaan , Ali"]
print("student_name before:" , student_name)

#after insert the value
student_name[:2] = "leave" 
print("student_name After:" , student_name)

student_name before: ['Adil , Haroon , Amaan , Ali']
student_name After: ['l', 'e', 'a', 'v', 'e']

In [10]:
student_name = ["Adil" , "Haroon" , "Amaan" , "Ali"]
print("student_name before:" , student_name)

#after insert the value
student_name[2] = "Fardeen" 
print("student_name After:" , student_name)

student_name before: ['Adil', 'Haroon', 'Amaan', 'Ali']
student_name After: ['Adil', 'Haroon', 'Fardeen', 'Ali']

In [14]:
student_name = ["Adil" , "Haroon" , "Amaan" , "Ali"]
print("student_name before:" , student_name)

#after insert the value
student_name[2] += " Fardeen" 
print("student_name After:" , student_name)

student_name before: ['Adil', 'Haroon', 'Amaan', 'Ali']
student_name After: ['Adil', 'Haroon', 'Amaan Fardeen', 'Ali']

# Appending to a list :- applicable for open,closed bracket only ()

In [ ]:
.append() method adds an item to the end of a list

In [16]:
sample_list = [1 , 2 , 3]
print("sample_list Before:" , sample_list)

#using append function to add value
sample_list.append(4)
print("sample_list After:" , sample_list)

sample_list Before: [1, 2, 3]
sample_list After: [1, 2, 3, 4]

# insert item into a list

# use .insert() to define an index to insert an item  only in ()

In [ ]:
Insert, doesn't overwrite
Increase index by 1, at and above the insertion point
can use to Append a new index to the end of the list

In [20]:
student_name = ["Adil" , "Haroon" , "Amaan" , "Ali"]
print("student_name before:" , student_name)

#after insert the value
student_name.insert(2,"Fardeen") 
print("student_name After:" , student_name)

student_name before: ['Adil', 'Haroon', 'Amaan', 'Ali']
student_name After: ['Adil', 'Haroon', 'Fardeen', 'Amaan', 'Ali']

# .FORMAT

In [26]:
grade = "BE"
student_name = "Adil Shaikh"
print(student_name , "is in" , grade)

Adil Shaikh is in BE

In [34]:
grade = (2 , "nd year")
student_name = "Adil Shaikh"
print(student_name , "is in" , str(grade))

Adil Shaikh is in (2, 'nd year')

In [39]:
grade = (2 , "nd year")
student_name = "Adil Shaikh"
print("{} is in class {}".format(student_name,grade))

Adil Shaikh is in class (2, 'nd year')

# Iterate through list using :- for , in    (ek ek niche assemble hoenge)

In [31]:
cities = {"Hydrabad" , "delhi" , "dubai" , "dekin" , "dairadhun"}
for city in cities:
    print (city)

dekin
dubai
Hydrabad
dairadhun
delhi

In [29]:
sales = [16, 18, 20, 22, 24, 26, 28, 2]
print(sales)
total = 0

for sale_sum in sales:
    total += sale_sum
print("total sales" , total)

[16, 18, 20, 22, 24, 26, 28, 2]
total sales 156

In [24]:
sales = [16, 18, 20, 22, 24, 26, 28, 2]

total = 0

for sale_sum in sales:
    print(sale_sum)
    total += sale_sum
print("total sales" , total)

16
18
20
22
24
26
28
2
total sales 156